* {
  font-family: monospace;
}

form {
  background-color: white;
  height: 250px;
  width: 500px;
}

div.position-fixed {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.centered {
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

textarea {
  resize: none;
  width: 80%;
}

.button {
  border: 1px solid;
  border-radius: 5px;
}

.entry-button {
  background-color: aliceblue;
}

.tint {
  background-color: rgba(0, 0, 0, 0.4);
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.true-center {
  justify-content: center;
  align-items: center;
}

.text-align-center {
  text-align: center;
}
